table {width: 500px; height: 400px; margin: 0 auto;}
tbody {background-color: brown; color: white;}
.title {font-size: 30px; text-align: center;}
td{padding-top: 20px;}
.label {width: 140px; text-align: right}
.input {width: 300px;}
.btn {text-align: center;}
#btn {height: 50px; font-size: 18px; line-height: 50px;}